In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.ensemble import RandomForestClassifier

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
temp_df = pd.read_csv("../data/train.csv")
temp_df.head()

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,7,0,2,2,5,1,0,0,1,0,...,9,1,5,8,0,1,1,0,0,1
1,9,0,1,1,7,0,0,0,0,1,...,3,1,1,9,0,1,1,0,1,0
2,13,0,5,4,9,1,0,0,0,1,...,4,2,7,7,0,1,1,0,1,0
3,16,0,0,1,2,0,0,1,0,0,...,2,2,4,9,0,0,0,0,0,0
4,17,0,0,2,0,1,0,1,0,0,...,3,1,1,3,0,0,0,1,1,0

In [6]:
temp_df.replace(-1, np.nan, inplace=True)

In [21]:
df = temp_df.dropna()

In [27]:
x_train = df.iloc[:, 2:]
y_train = df.iloc[:, 1]
x_train.columns, y_train.name

(Index(['ps_ind_01', 'ps_ind_02_cat', 'ps_ind_03', 'ps_ind_04_cat',
        'ps_ind_05_cat', 'ps_ind_06_bin', 'ps_ind_07_bin', 'ps_ind_08_bin',
        'ps_ind_09_bin', 'ps_ind_10_bin', 'ps_ind_11_bin', 'ps_ind_12_bin',
        'ps_ind_13_bin', 'ps_ind_14', 'ps_ind_15', 'ps_ind_16_bin',
        'ps_ind_17_bin', 'ps_ind_18_bin', 'ps_reg_01', 'ps_reg_02', 'ps_reg_03',
        'ps_car_01_cat', 'ps_car_02_cat', 'ps_car_03_cat', 'ps_car_04_cat',
        'ps_car_05_cat', 'ps_car_06_cat', 'ps_car_07_cat', 'ps_car_08_cat',
        'ps_car_09_cat', 'ps_car_10_cat', 'ps_car_11_cat', 'ps_car_11',
        'ps_car_12', 'ps_car_13', 'ps_car_14', 'ps_car_15', 'ps_calc_01',
        'ps_calc_02', 'ps_calc_03', 'ps_calc_04', 'ps_calc_05', 'ps_calc_06',
        'ps_calc_07', 'ps_calc_08', 'ps_calc_09', 'ps_calc_10', 'ps_calc_11',
        'ps_calc_12', 'ps_calc_13', 'ps_calc_14', 'ps_calc_15_bin',
        'ps_calc_16_bin', 'ps_calc_17_bin', 'ps_calc_18_bin', 'ps_calc_19_bin',
        'ps_calc_20_bin'],
       dtype='object'), 'target')

In [28]:
x = x_train.as_matrix()
y = y_train.as_matrix()

In [32]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.2)
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((99944, 57), (99944,), (24987, 57), (24987,))

In [33]:
sum(y_train)

4514

In [34]:
sum(y_test)

1156

In [36]:
clf = RandomForestClassifier(n_estimators=10, verbose=2)

In [37]:
clf.fit(x_train, y_train)

building tree 1 of 10

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

building tree 2 of 10
building tree 3 of 10
building tree 4 of 10
building tree 5 of 10
building tree 6 of 10
building tree 7 of 10
building tree 8 of 10
building tree 9 of 10
building tree 10 of 10

[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    2.6s finished

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=2, warm_start=False)

In [38]:
clf.score(x_train, y_train)

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.2s finished

0.98900384215160486

In [39]:
clf.score(x_test, y_test)

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished

0.95357585944691237

In [40]:
clf.feature_importances_

array([ 0.02285676,  0.01139406,  0.03113368,  0.00782808,  0.01065945,
        0.00532398,  0.00497401,  0.00594881,  0.00438219,  0.00025058,
        0.0009262 ,  0.00268047,  0.00052797,  0.00296079,  0.032567  ,
        0.00442162,  0.00396868,  0.00359096,  0.02114723,  0.034843  ,
        0.0574423 ,  0.01848141,  0.00510212,  0.00647867,  0.00991087,
        0.00808503,  0.02463755,  0.00469731,  0.00513044,  0.01222183,
        0.00195355,  0.03080248,  0.01027726,  0.02075297,  0.05476686,
        0.04129889,  0.02511739,  0.03201611,  0.03177661,  0.03064526,
        0.02481818,  0.02364435,  0.0240319 ,  0.02852381,  0.02673404,
        0.02343077,  0.03535446,  0.03410571,  0.02373283,  0.03047681,
        0.03604973,  0.00518683,  0.00928734,  0.0098155 ,  0.00775796,
        0.00696885,  0.00610053])

In [43]:
from sklearn.externals import joblib

In [48]:
joblib.dump(clf, '../pickle/rforest_1.pkl')

['../pickle/rforest_1.pkl']

### Need a better way to score the classifier other than accuracy. Try F1 scoring or creating cost function to heavily penalize missing labels of the smaller population

In [64]:
df2 = pd.read_csv('../data/test.csv')

In [65]:
df2.columns

Index(['id', 'ps_ind_01', 'ps_ind_02_cat', 'ps_ind_03', 'ps_ind_04_cat',
       'ps_ind_05_cat', 'ps_ind_06_bin', 'ps_ind_07_bin', 'ps_ind_08_bin',
       'ps_ind_09_bin', 'ps_ind_10_bin', 'ps_ind_11_bin', 'ps_ind_12_bin',
       'ps_ind_13_bin', 'ps_ind_14', 'ps_ind_15', 'ps_ind_16_bin',
       'ps_ind_17_bin', 'ps_ind_18_bin', 'ps_reg_01', 'ps_reg_02', 'ps_reg_03',
       'ps_car_01_cat', 'ps_car_02_cat', 'ps_car_03_cat', 'ps_car_04_cat',
       'ps_car_05_cat', 'ps_car_06_cat', 'ps_car_07_cat', 'ps_car_08_cat',
       'ps_car_09_cat', 'ps_car_10_cat', 'ps_car_11_cat', 'ps_car_11',
       'ps_car_12', 'ps_car_13', 'ps_car_14', 'ps_car_15', 'ps_calc_01',
       'ps_calc_02', 'ps_calc_03', 'ps_calc_04', 'ps_calc_05', 'ps_calc_06',
       'ps_calc_07', 'ps_calc_08', 'ps_calc_09', 'ps_calc_10', 'ps_calc_11',
       'ps_calc_12', 'ps_calc_13', 'ps_calc_14', 'ps_calc_15_bin',
       'ps_calc_16_bin', 'ps_calc_17_bin', 'ps_calc_18_bin', 'ps_calc_19_bin',
       'ps_calc_20_bin'],
      dtype='object')

In [66]:
#df2.replace(-1, np.nan, inplace=True)

In [67]:
df2.shape

(892816, 58)

In [68]:
x_submit = df2.iloc[:, 1:]
x_submit.columns

Index(['ps_ind_01', 'ps_ind_02_cat', 'ps_ind_03', 'ps_ind_04_cat',
       'ps_ind_05_cat', 'ps_ind_06_bin', 'ps_ind_07_bin', 'ps_ind_08_bin',
       'ps_ind_09_bin', 'ps_ind_10_bin', 'ps_ind_11_bin', 'ps_ind_12_bin',
       'ps_ind_13_bin', 'ps_ind_14', 'ps_ind_15', 'ps_ind_16_bin',
       'ps_ind_17_bin', 'ps_ind_18_bin', 'ps_reg_01', 'ps_reg_02', 'ps_reg_03',
       'ps_car_01_cat', 'ps_car_02_cat', 'ps_car_03_cat', 'ps_car_04_cat',
       'ps_car_05_cat', 'ps_car_06_cat', 'ps_car_07_cat', 'ps_car_08_cat',
       'ps_car_09_cat', 'ps_car_10_cat', 'ps_car_11_cat', 'ps_car_11',
       'ps_car_12', 'ps_car_13', 'ps_car_14', 'ps_car_15', 'ps_calc_01',
       'ps_calc_02', 'ps_calc_03', 'ps_calc_04', 'ps_calc_05', 'ps_calc_06',
       'ps_calc_07', 'ps_calc_08', 'ps_calc_09', 'ps_calc_10', 'ps_calc_11',
       'ps_calc_12', 'ps_calc_13', 'ps_calc_14', 'ps_calc_15_bin',
       'ps_calc_16_bin', 'ps_calc_17_bin', 'ps_calc_18_bin', 'ps_calc_19_bin',
       'ps_calc_20_bin'],
      dtype='object')

In [69]:
x = x_submit.as_matrix()
x.shape, type(x)

((892816, 57), numpy.ndarray)

In [70]:
ids = df2.iloc[:, 0]
ids.head()

0    0
1    1
2    2
3    3
4    4
Name: id, dtype: int64

In [71]:
targets = clf.predict(x)

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    2.6s finished

In [87]:
col_targets = pd.Series(targets, name='target')
col_targets.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [88]:
type(ids), type(col_targets)

(pandas.core.series.Series, pandas.core.series.Series)

In [89]:
df_submit = pd.concat([ids, col_targets], axis=1)

In [90]:
df_submit.shape

(892816, 2)

In [91]:
df_submit.head()

   id  target
0   0       0
1   1       0
2   2       0
3   3       0
4   4       0

In [94]:
df_submit['target'].value_counts()

0    892457
1       359
Name: target, dtype: int64

### Ugh, that can't be right, too many 0s, not enough 1s

In [97]:
df_submit.to_csv('../submissions/102717_1.csv', index=False)